@CHARSET "UTF-8";

html
{
    height: 100%;    
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

a
{
    text-decoration: none;    
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, h7
{
    
}

h1
{
    font-size: 3em;
    line-height: 3em;
}

h2
{
    font-size: 2.5em;
    line-height: 2.5em;
}

h3
{
    font-size: 2em;
    line-height: 2em;
}

.container
{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header
{
    width: 100%;
    float: left;
}

.content
{
    width: 100%;
    float: left;
}

.footer
{
    width: 100%;
    float: left;
}

.error
{
    background: rgba(255,0,0,0.1);
    color: #c00;    
}
